body{
    background-color: red;
    }
    nav {
      text-decoration: none;
      list-style: none;
    }
    
    /* NAVBAR */
    
    header{
        background-color: red;
    }
      header li{
    
      text-decoration: none;
      list-style: none;
      }
    
    
    /* FOOTER */
    .footer {
      font-size: 10px;
      color: #202124;
      background-color: #f2f2f2;
      text-decoration: none;
      background-color: red;
      list-style: none;
    }
    .footer-right{
        font-size: 10px;
        color: #202124;
        background-color: #f2f2f2;
        text-decoration: none;
        background-color: red;
        list-style: none;
      }