/* No idea, but everyone doing it*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
img {
  width: 100%;
}

/* ENTIRE BODY DEFAULTS*/
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100%;
  font-size: small;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  padding: 6px;
  height: 60px;
  flex-shrink: 0px;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  justify-content: flex-end;
}
nav {
  height: 48px;
  line-height: normal;
  font-size: 13px;
  min-width: auto;
}
.nav {
  height: 48px;
}
/* "maybe change this to navbar dunno?"NAVBAR: */
nav#top-navbar li {
  display: flex;
  padding-left: 0px;
  padding-right: 10px;
  position: relative;
  margin-left: 0px;
  margin-right: 0px;
  text-align: right;
  z-index: 986;
  align-items: center;
}
nav#top-navbar ul {
  display: flex;
}

/*HEADER ELEMENTS */
header ul li a {
  display: flex;
  line-height: 24px;
  outline: none;
  font-size: 13px;
  vertical-align: middle;
}
header ul li a {
  color: rgba(0, 0, 0, 0.87);
}
/* SIGN BUTTON */
header ul li a.sign {
  font-weight: 500px;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  border: 1px solid #4285f4;
  font-weight: bold;
  background-color: #4285f4;
  color: #fff;
}
header ul li a:hover {
  opacity: 0.85;
  text-decoration: underline;
}
/* APPS */
nav#top-navbar ul.apps {
  display: none;
}
/* APPS: HOVER */
nav#top-navbar ul.apps:hover {
  display: none;
}
/* APPS: CLICK */
nav#top-navbar ul.apps:click {
  display: none;
}

/* CENTER BODY */
div.center-search {
  align-self: center;
}
/* MIDDLE SECTION: LOGO + BUTTONS */
div.center-logo {
  margin-top: 47px;
  height: 233px;
  text-align: center;
}
/* GOOGLE LOGO */
div.center-logo img {
  overflow: auto;
  display: inline;
  position: static;
  margin-top: 109px;
  width: auto;
}
/* SEARCH BAR */
div.center-search div.search {
  display: flex;
  flex: 1;
  padding: 5px 8px 0px 16px;
  width: auto;
}

/* SEARCH BAR */
div.center-search div.search input {
  width: 560px;
  display: flex;
  margin-top: -37px;
  padding-left: 14px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-color: rgba(223, 225, 229, 0);
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  background-color: #fff;
  display: flex;
  border-radius: 24px;
  height: 44px;
  margin: 0 auto;
  font: 16px;
  line-height: 34px;
  height: 34px;
}
/* SEARCH BAR: HOVER */
div.center-search div.search input:hover {
  box-shadow: 0 3px 10px rgba(32, 33, 36, 0.28);
  border: 1px solid #dadce0;
}
/* BUTTONS */
div.center-search div.buttons {
  height: 70px;
  padding-top: 18px;
  text-align: center;
}
/*  BUTTONS: SEARCH + LUCKY */
div.center-search div.buttons input {
  width: auto;
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  color: #3c4043;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border-radius: 4px;
  font-size: 14px;
}
/* BUTTONS: HOVER */
div.center-search div.buttons input:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/*FOOTER*/
footer {
  width: 100%;
  display: flex;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-top: 1px solid #dadce0;
  line-height: 40px;
  position: absolute;
  width: 100%;
  font-size: 14px;
  background-color: #f2f2f2;
  justify-content: space-between;
}

/* FOOTER ELEMENTS */

/* FOOTER DECORATIONS */
footer li a {
  color: #70757a;
  padding-left: 27px;
  margin: 0px;
  white-space: nowrap;
}
footer ul {
  display: flex;
}
.footer-right {
  margin-right: 27px;
}
/* FOOTER ELEMENTS: HOVER */
footer ul li a:hover {
  text-decoration: underline;
}

/* FOOTER ELEMENTS: VISITED */
footer li a:visited {
  color: #609;
}
